/* styles.css */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
}

.table-scrollbar::-webkit-scrollbar {
    height: 8px;
}

.table-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.table-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.table-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.loader {
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Transitions */
.hidden {
    display: none !important;
}